<% content_for :sub_menu do %>
  <ul>
    <li><%= link_to 'New item', new_admin_item_path %></li>
  </ul>
<% end %>

<div >
  <%= error_messages_for :item %>
  <% form_for :item, @item, :url => admin_item_path(@item), :html => {:method => :post, :multipart => true} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>