<%# already_saved = !@category.new_record? %>
<tr class="full-row">
  <td class="label"><%= form.label :name, "Название", :title=>@document_type.errors.on(:name) %></td>
  <td><%= form.text_field :name %></td>
</tr>
<tr class="full-row">
  <td class="label"><%= form.label :name, "Только для авторизированых пользователей", :title=>@document_type.errors.on(:hidden) %></td>
  <td><%= form.check_box :hidden %></td>
</tr>

