<div class="authorization-form-wrap">    
  <h2>Забыли пароль?</h2>
  <%= flash[:notice] %>
  <% form_for :user, :url => remind_users_path, :html => {:class => 'autho'} do |f| -%>
    <fieldset>
      <%= f.label :email, 'E-mail:' %>
      <%= f.text_field :email, :class=>'textfield', :size=>30 %>
      <br />
    
      <p><%= submit_tag 'Выслать пароль', :class => 'submit-reset'  %></p>
    </fieldset>
  <% end -%>
</div>