.arrowlistmenu{
width: 219px; /*width of accordion menu*/
margin: 17px 20px 0 12px;}

.menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
font: 12px Verdana, Arial, Helvetica, sans-serif;
line-height:16px;
font-weight: bold;
color: #2e6190;
margin-bottom: 4px; /*bottom spacing between header and rest of content*/
padding: 2px 0 0 10px; /*header text is indented 10px*/
cursor: hand;
cursor: pointer;
/*border: 1px solid red;*/}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
color: #2e6190;
background-color: #ebf0f5;}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 2px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 1px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
background: url(/images/bg-list2.jpg) 2px 8px no-repeat ; /*custom bullet list image*/
display: block;
/*border: 1px solid red;*/
margin-left: 7px;
padding: 2px 0 1px 10px;
padding-left: 10px; /*link text is indented 19px*/
text-decoration: none;
font-weight: normal;
font: 12px Verdana, Geneva, sans-serif;
color: #505050;}

.arrowlistmenu ul li a:visited{color: #505050;}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #2e6190;
background-color: #ebf0f5;}
