<div class="dashboard">

<ol>
  <li><%= link_to 'View vessels', vessels_path %></li>
  <li><%= link_to 'View reports', reports_path %></li>
  <li><%= link_to 'View ports', ports_path %></li>
</ol>
  
  </div>

<%#= render :partial => 'reports/list' %>