<% content_for :sub_menu do %>
  <%= link_to image_tag('admin/page_new.gif')+'Добавить прайс-лист', new_admin_price_list_path %>
<% end %>

<table class="list-table">
  <tr>
    <td class="table_heading table_checkcol"><input type="checkbox" class="check" disabled/></td>
    <td class="table_heading">Название</td>

    <td class="table_heading table_linkcol">&nbsp;</td>
  </tr>

  <% @pricelists.each do |pl| %>
    <tr class="<%= cycle('', 'grey')  %>" >
      <td class="table_checkcol"><input type="checkbox" class="check" disabled/></td>
      <td><%= bt pl.name, 50 %></td>

      <td style="text-align:center">
        <%= link_to image_tag('admin/application_form_delete.png', :title=>'Удалить прайс-лист'), admin_price_list_path(pl), :method => :delete, :confirm => 'Вы действительно хотите удалить запись?' %>
      </td>
    </tr>
  <% end %>

</table>