.DS_Store
.bash*
.psql_history
.vim*
.less*
.mysql*
.ssh*
.autotest
public/system
tmp
db/schema.rb
tmp/pages
tmp/sphinx
config/database.yml
nbproject
db/development_structure.sql
log/development.log
db/development_structure.sql
public/assets
public/holidays
public/persons
public/memos
nbproject/private/private.xml
log
*~
